In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('game_ratings.csv')

In [10]:
df2=df.copy()
df2.drop(['name','platforms','genres','url','score'], axis=1, inplace=True)

In [11]:
df2

        Unnamed: 0 first_release_date
0                0         2013-09-17
1                1         2015-05-19
2                2         2011-04-19
3                3         2011-11-11
4                4         2013-06-14
...            ...                ...
118169      122397                NaN
118170      122398                NaN
118171      122399                NaN
118172      122400                NaN
118173      122401                NaN

[118174 rows x 2 columns]

In [12]:
df2['first_release_date'].split('-')

AttributeError: 'Series' object has no attribute 'split'